<h3><%= @region.region_name%></h3>

<% @region.taquerias.each do |taqueria| %>
  <p>
    <strong>Taqueria Name:</strong><%= link_to taqueria.taqueria_name, taqueria_path(taqueria) %>
  </p>
<% end %>

<%= link_to 'home', root_path %>
